:root {
  --white-color: #f0f2f6;
  --grey-color: #aab3c7;
  --red-color: #f42a28;
  --green-color: #14a06f;
  --blue-color: #37a5c6;
  --black-color: #000000;
}

$white-color: var(--white-color);
$grey-color: var(--grey-color);
$red-color: var(--red-color);
$green-color: var(--green-color);
$blue-color: var(--blue-color);
$black-color: var(--black-color);
