:root {
  --pure-color: #ffffff;
  --white-color: #f0f2f6;
  --grey-color: #c7c8ca;
  --red-color: #f42a28;
  --green-color: #14a06f;
  --blue-color: #37a5c6;
  --black-color: #000000;
  --yellow-color: #ffd86f;
}

$pure-color: var(--pure-color);
$white-color: #f0f2f6;
$grey-color: #c7c8ca;
$red-color: var(--red-color);
$green-color: var(--green-color);
$blue-color: var(--blue-color);
$black-color: #000000;
$yellow-color: #ffd86f;
