include ../config/tabs
include ../config/about
include ../config/stats
include ../config/radio

include ../mixins/list
include ../mixins/labels
include ../mixins/tabs

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/styles.css")
    title Pokedex
  body
    block top
    block main
    block script