$tablet: 768px;
$laptop: 1024px;
$desktop: 1400px;

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: $laptop) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}
