@mixin buttons($url) {
  background: url(#{$url}) no-repeat;
  background-position: center;
  background-size: 30px 30px;
  width: 50px;
  height: 50px;
  border: none;
  padding: 1rem;
  cursor: pointer;

  &:focus {
    border: 3px solid $white-color;
    outline: none;
  }

  @include laptop {
    background-size: 55px 55px;
    width: 80px;
    height: 80px;
    margin: 0 1.2rem;

    &:hover {
      border: 3px solid $white-color;
    }
  }
}
