.main {
  background-color: $pure-color;
  display: grid;
  gap: 0.3rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 0.3rem;
  border-bottom: 3px solid $black-color;
  position: relative;

  @include laptop {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__content {
    display: none;
    min-height: 30vh;
    grid-column: 1/-1;
    align-items: center;

    & p {
      font-size: 2rem;
      font-weight: $font-bold;
    }

    &.empty {
      display: flex;
    }
  }
}
