.main {
  background-color: $pure-color;
  display: grid;
  gap: 0.3rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 0.3rem;
  border-bottom: 3px solid $black-color;
}
