.modal {
  background-color: $yellow-color;
  position: fixed;
  top: -18vh;
  left: 0;
  width: 100%;
  height: 18vh;
  z-index: 150;
  transform: translateY(0);
  transition: transform 0.35s;
  display: flex;
  align-items: center;

  &.isActive {
    transform: translateY(100%);
  }

  &__button {
    font-weight: $font-bold;
    padding: 5px 0;
    margin-left: 1rem;
    text-align: center;
    border-radius: 10px;
    background-color: $pure-color;
    border: 3px solid $pure-color;
    color: $black-color;
    min-width: 90px;
    outline: none;

    &.isActive,
    :focus {
      background: $yellow-color;
    }
  }
}
