.modal {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: $yellow-color;
  top: -168.66px;
  left: 0;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 168.66px;
  z-index: 150;
  transform: translateY(0);
  transition: transform 0.35s;

  &.isActive {
    transform: translateY(100%);
  }

  @include tablet {
    top: -187.4px;
    height: 187.4px;
  }

  @include laptop {
    top: -206.14px;
    height: 206.14px;
  }

  &__options {
    display: flex;
    align-items: center;
    margin-left: 0.2rem;
  }

  &__button {
    background-color: $pure-color;
    outline: none;
    color: $black-color;
    width: 50px;
    height: 80%;
    margin-left: 0.5rem;
    cursor: pointer;

    @include tablet {
      margin-left: 1rem;
      width: 75px;
    }

    @include laptop {
      width: 120px;

      &:hover {
        border: 3px solid $black-color;
      }
    }

    &:focus {
      border: 3px solid $black-color;
    }
  }
}
