.pokebox {
  background-color: $white-color;
  margin: 5px;
  position: relative;
  padding-top: 1rem;
  transition: transform 0.35s;
  transform: none;
  box-shadow: 2px 2px 5px 0px $black-color, 2px 2px 15px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 165px;

  &__img {
    width: 100%;
    z-index: 10;
    position: relative;
  }

  &__icon {
    position: absolute;
    height: 100%;
    right: -113px;
    top: -72px;
  }

  &__number {
    position: absolute;
    top: 0;
    font-size: 1rem;
    font-weight: $font-bold;
    width: 30%;
    text-align: center;
    padding: 8px 10px 8px 0;
    color: $black-color;
  }

  &__name {
    color: $black-color;
    background-color: $grey-color;
    padding: 1rem 0;
    font-size: 1.5rem;
    text-align: center;

    &.isFavorite {
      background-color: $yellow-color;
    }
  }

  &.isNotVisible {
    transform: scale(0.9);
  }
}
