.radio {
  width: 100%;
  margin: 0 10vw;

  &__title {
    margin: 0 0 0.8rem 0;
    font-size: 1.5rem;
    color: $black-color;
  }

  &__options {
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
  }

  &__input {
    @include reset-radio;

    &:checked + input + label,
    &:checked + label + label {
      background: $pure-color;
    }
  }

  &__label {
    font-size: 1rem;
    font-weight: $font-bold;
    text-transform: capitalize;
    color: $black-color;
    display: inline-block;
    cursor: pointer;
    font-weight: $font-bold;
    padding: 10px;
    min-width: 60px;
    text-align: center;

    &:last-of-type {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}
