.gotop {
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 100;
  background-color: $blue-color;
  bottom: 20px;
  right: 10px;
  text-align: center;
  padding: 14px 10px 7px 10px;
  border-radius: 100%;
  outline: none;
  transform: translateX(100%);
  pointer-events: none;
  transition: transform 0.35s;

  & img {
    width: 60%;
    pointer-events: none;
  }

  &.scrollOn {
    transform: translateX(0%);
    pointer-events: all;
  }
}
