.slider {
  &__button {
    position: fixed;
    height: 30px;
    width: 30px;
    top: 19px;
    right: 15px;
    background: url("../assets/icons/sliders.svg");
    background-color: transparent;
    border: none;
    z-index: 201;

    &.isActive {
      background: url("../assets/icons/close.svg") no-repeat;
      background-size: 90%;
      background-position: center center;
    }
  }

  &__img {
    position: fixed;
    height: 280px;
    top: -106px;
    right: -110px;
    filter: invert(87%) sepia(34%) saturate(746%) hue-rotate(334deg)
      brightness(102%) contrast(101%) drop-shadow(1px 1px 1px rgba(0, 0, 0, 1));
    z-index: 200;

    &.isActive {
      opacity: 0;
      height: 0;
    }
  }
}
