.topbar {
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  position: sticky;
  top: 0;
  background-color: $white-color;
  z-index: 100;

  &__input {
    outline: none;
    width: 45%;
    padding: 0.5rem;
    margin-left: 10px;
    border-radius: 20px;
    background: url("../assets/icons/search.svg") no-repeat;
    background-color: $pure-color;
    text-indent: 30px;
  }
}
