extends ../templates/template.pug

block top

    #topbar.topbar
      input(type="text" name="search" placeholder="Name/#000" id="search").topbar__input
    
    #slider.slider
      button(type="button")#slider-button.slider__button 
      img(src="assets/img/pokeball.png", alt="pokeball")#slider-img.slider__img

    .title
      h1 Pokedex

block main

    main#main.main
      #main-content.main__content 
        p No Matches
      
    a(href="#")#gotop.gotop
      img(src="assets/icons/arrow.svg")

    #modal.modal
      form#radio-group.radio
        p.radio__title Sort By:
        .radio__options
          input(type="radio" id="number" name="sort" value="number" checked).radio__input
          input(type="radio" id="name" name="sort" value="name").radio__input
          input(type="radio" id="favorites" name="sort" value="favorites").radio__input
          +labels(radio)


      
        