.pokebox
  .pokebox__number#pokenumber #001
  .pokebox__info
    .pokebox__info-name#pokename Bulbasaur
    .pokebox__info-type#poketype1 Grass
    .pokebox__info-type#poketype2 Poison
  .pokebox__img#pokeimg
    img(src="", alt="pokemon").poke__img-src