.section {
  top: 55vh;
  height: 45vh;
  max-width: 425px;
  background-color: $pure-color;
  position: fixed;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  transition-delay: 0.5s;
  transform: translateY(100%);
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;

  @include laptop {
    width: 50%;
    top: 13vh;
    left: 50%;
    height: 88vh;
  }

  &__ul {
    @include reset-list;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: auto;
    margin-bottom: auto;

    @include tablet {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &__li {
    padding: 0.6rem 1.5rem;

    @include tablet {
      font-size: 1.2rem;
      padding: 0.8rem 1.5rem;
    }

    @include laptop {
      font-size: 2rem;
      padding: 1.2rem 1.5rem;
    }

    &--weight,
    &--height,
    &--color {
      display: grid;
      grid-template-columns: 30% 70%;
      text-transform: capitalize;
    }

    &--abilities,
    &--flavor {
      text-transform: capitalize;
    }

    &--HP,
    &--Attack,
    &--Defense,
    &--Sp-Atk,
    &--Sp-Def,
    &--Speed,
    &--Total {
      display: grid;
      grid-template-columns: 30% 70%;

      @include laptop {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__label {
    color: lighten($color: $black-color, $amount: 40%);
  }

  &__text {
    display: flex;
    align-items: center;

    & ul,
    & p {
      background-color: $white-color;
    }

    & ul {
      @include reset-list;
      padding: 1rem;
      margin: 0.5rem 0 0 0;
      width: 100%;
    }
    & p {
      text-transform: none;
      margin: 0.5rem 0 0 0;
      padding: 1rem;
    }

    & span {
      min-width: 30px;
      text-align: center;

      @include laptop {
        min-width: 50px;
      }

      @include desktop {
        min-width: 80px;
      }
    }

    & progress {
      margin-left: 1rem;
      -webkit-appearance: none;
      appearance: none;

      &::-webkit-progress-bar {
        background-color: #eee;
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
      }

      &::-moz-progress-bar {
        background-color: var(--color-bar);
      }

      &::-webkit-progress-value {
        border-radius: 2px;
        background-color: var(--color-bar);
      }
    }
  }
}
