.moves-list {
  @include reset-list;
  width: 95%;

  &__item {
    background-color: $white-color;
    padding: 0.5rem;
    margin: 1rem 1rem 0 1rem;
    text-align: center;
    border: 1px solid $black-color;
    font-size: 1.5rem;
    box-shadow: 2px 2px 5px 0px $black-color,
      2px 2px 15px 5px rgba(0, 0, 0, 0.1);

    &:focus {
      background-color: $yellow-color;
      outline: none;
    }
  }

  &__card {
    background-color: $white-color;
    padding: 0.5rem;
    margin: 0 1rem;
    display: none;

    &.isActive {
      display: block;
      box-shadow: 2px 2px 5px 0px $black-color,
        2px 2px 15px 5px rgba(0, 0, 0, 0.1);
    }
  }

  &__block,
  &__text {
    @include reset-list;
  }

  &__info {
    display: grid;
    grid-template-columns: 35% 65%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__block li {
    color: lighten($color: $black-color, $amount: 40%);
    padding-bottom: 0.5rem;
  }

  &__text {
    border: 1px solid $black-color;
    color: lighten($color: $black-color, $amount: 40%);
    padding: 0.5rem;
    text-transform: capitalize;
    border-radius: 5px;
    background-color: $pure-color;

    & p {
      color: $black-color;
      margin-top: 0;
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      border-radius: 5px;
    }
  }

  & span {
    color: $black-color;
  }
}
