.pokeinfo {
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include laptop {
    height: 15vh;

    &__type {
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  &__type h1 {
    margin: 0;
    text-transform: capitalize;

    @include laptop {
      font-size: 3.5rem;
    }
  }

  &__type span {
    display: inline-block;
    width: 40%;
    border-radius: 20px;
    padding: 0.3rem 0.15rem;
    text-align: center;
    font-size: 0.7rem;
    margin: 3px;
    text-transform: capitalize;

    @include laptop {
      font-size: 1.3rem;
    }
  }

  &__number {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include laptop {
      font-size: 2rem;
      margin-right: 0.8rem;
    }
  }
}
