.pokeimg {
  display: flex;
  justify-content: center;
  height: 20vh;
  position: relative;

  & img {
    height: 24vh;
    z-index: 10;
    position: absolute;
    background-color: transparent;
  }
}
