mixin list(items)
  ul(tabIndex="0").section__ul
    each item in items
      li(class= "section__li section__li--"+item )
        label(for=item).section__label= item
        div(id=item).section__text 
